
/* Note: You can write Sass in this file. */

body {
  padding-top: 25px;
  font-size: 16px;
  background-color: #231d2b;
}


.tile-map {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // UI should appear above the tile map
  z-index: -1;
}


.no-select {
  pointer-events: none;
  user-select: none;
}

#sidebar {
  user-select: none;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  border-left: 1px solid black;
  background-color: #ccc;
}